*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
:root{
    --mainColor: #FABD10;
    --auxColor: #0CD8EB;
    --secondaryColor: #C2920C;
    --cardColor: #F2EDDA;
}
body{
    background: var(--mainColor);
    width: 100%;
    height: 100%;
}
nav{
    background: black;
    width: 100%;
    height: 50px;
    text-align: center;
}
ul{
    padding-top: 15px;
    
}
li{
    display: inline;
    padding-right: 25px;
}
a{
    text-decoration: none;
    color: #fefefe;    
}
a:hover{
    color:  var(--mainColor);
    transition: 0.5s;
}
a.active{
    color: var(--mainColor);
}
p{
    position: absolute;
    color: var(--auxColor);
    font-size: 28px;
    font-weight: bold;
    top: 10px;
    left: 7px;
}
span{
    font-weight: normal;
    font-style: italic;
}
p::first-letter{
    color: var(--mainColor);
}
#lastLetter{
    color: var(--mainColor);
}
.container{
    font-family: roboto, normal, 'sans-serif';
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 178px;
}
.title{
    color: var(--secondaryColor);
        
}
.pointer{
        cursor: pointer;

}
i{
    margin-top: 17px;
    padding: 25px;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    width: 114px;
    font-size: 64px;
    color: var(--mainColor);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn{
    width: 100%;
    height: 400px;
}
/* --Modal style-- */
.modal-container{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container.show{
    display: flex;
}
.modal{
    background-color: black;
    width: 274px;
    height: 250px;
    border-radius: 25px;
    padding: 20px;
    color: var(--mainColor);
    position: relative;
}
.modalt{
    width: 100%;
    height: 30px;
    margin: 5px;
    outline: none;
    border: none;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    padding: 5px;
    color: white;
}
#modalId{
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.btnModal{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.fechar{
    position: absolute;
    top: -15px;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid black;
    background-color: var(--secondaryColor);
    color:white;
    outline: none;
    font-size: 1.4em;
    cursor: pointer;
}

.btnModal:hover{
    background-color: var(--mainColor);
    transition: 0.2s;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}
.show .modal{
    animation: modal .3s;
}